.admin-container {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
    overflow-y: hidden; /* Evita que admin-container genere su propio scroll */
  }
  
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* El scroll principal se maneja aquí */
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #eaeaea;
  }
  
  .orders-table-container {
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: visible; /* No permite el scroll aquí */
  }
  
  .orders-table-container h2 {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .orders-table-container p {
    font-weight: 300;
    color: #666;
    margin-bottom: 20px;
  }
  
  .orders-table-container .Table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .orders-table-container th,
  .orders-table-container td {
    padding: 12px 20px;
    text-align: left;
    color: #000;
    border-bottom: 1px solid #ddd;
  }
  
  .orders-table-container th {
    background-color: #f4f4f4;
    font-weight: 400;
    color: #333;
  }
  
  .orders-table-container .status {
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: 600;
    display: inline-block;
  }
  
  .status.delivered {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .status.pending {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .status.cancelled {
    background-color: #000;
    color: #fff;
  }
  
  .orders-table-container .actions {
    font-size: 18px;
    color: #333;
  }
  
  .actions:hover {
    color: #000;
  }
  
  .search-bar {
    margin-bottom: 6px;
  }
  
  .actions {
    cursor: pointer;
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdown-menu button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-menu button:hover {
    background-color: #f0f0f0;
  }
  