.sidebar {
    width: 230px;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: black;
}
  
.item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}
  
.adminItem {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}
  
.icon {
    margin-right: 10px;
}
  
.item-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.item-link:hover {
    color: #007bff; /* Cambia el color al pasar el ratón */
}
