.orders-table-container {
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .orders-table-container h2 {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .orders-table-container p {
    font-weight: 300;
    color: #666;
    margin-bottom: 20px;
  }
  
  .orders-table-container .Table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .orders-table-container th,
  .orders-table-container td {
    padding: 12px 20px;
    text-align: left;
    color: #000;
    border-bottom: 1px solid #ddd;
  }
  
  .orders-table-container th {
    background-color: #f4f4f4;
    font-weight: 400;
    color: #333;
  }
  
  .orders-table-container .status {
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: 600;
    display: inline-block;
  }
  
  .status.delivered {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .status.pending {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .status.cancelled {
    background-color: #000;
    color: #fff;
  }
  
  .orders-table-container .actions {
    font-size: 18px;
    color: #333;
  }
  
  .actions:hover {
    color: #000;
  }
  
  .search-bar {
    margin-bottom: 6px;
  }
  
  .actions {
    cursor: pointer;
    position: relative;
  }
  
  .dropdown-menu, .status-dropdown {
    position: absolute; /* Cambiado de fixed a absolute */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
  
  .dropdown-menu button, .status-dropdown button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-family: "Kanit";
  }
  
  .dropdown-menu button:hover, .status-dropdown button:hover {
    background-color: #f0f0f0;
  }
  
.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Ajusta este valor para cambiar la distancia entre la barra de búsqueda y el botón */
  margin-bottom: 20px; /* Añadir margen inferior para separar del contenido siguiente */
}

.search-bar {
  flex: 1; /* Esto hará que la barra de búsqueda ocupe todo el espacio disponible */
  padding: 10px; /* Añadir padding para mejorar la apariencia */
  border: 1px solid #ccc; /* Añadir borde */
  border-radius: 5px; /* Añadir bordes redondeados */
}

.add-product {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-family: "Kanit", sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-product:hover {
  background-color: #696969;
}
